/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */

// Info text
.au-c-info-text {
  @include au-font-size($au-base);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-700;
  font-style: italic;
}

// Custom utils
.u-table-cell-shrink-content {
  width: 1px !important;
}
