<div>
  {{#if this.isGeneratedInformalVersion}}
    <AuPill @skin="warning">
      Automatische omzetting van u naar je
    </AuPill>
  {{else if this.isGeneratedFormalVersion}}
    <AuPill @skin="warning">
      Automatische omzetting van je naar u
    </AuPill>
  {{/if}}
  <p class="au-u-text-left au-u-margin-top-tiny au-u-margin-bottom">
    Zie je een fout?
    <AuLinkExternal href={{this.mailToContent}}>Meld het hier</AuLinkExternal>
  </p>
</div>