{{#if this.isInformal}}
<AuAlert
  @icon="info-circle"
  @skin="info"
  @size="small"
  class="au-u-margin-bottom-none"
  data-test-reminder-u-or-je-choice="informal"
>
  <p>Jouw bestuur heeft gekozen voor concepten in de "je"-vorm</p>
</AuAlert>

{{else if this.isFormal}}
  <AuAlert
    @icon="info-circle"
    @skin="info"
    @size="small"
    class="au-u-margin-bottom-none"
    data-test-reminder-u-or-je-choice="formal"
  >
    <p>Jouw bestuur heeft gekozen voor concepten in de "u"-vorm</p>
  </AuAlert>

{{else}}
  <AuAlert
    @icon="alert-triangle"
    @skin="warning"
    @size="small"
    class="au-u-margin-bottom-none"
    data-test-reminder-u-or-je-choice="no-choice"
  >
    <p>Jouw bestuur heeft nog geen keuze gemaakt en krijgt concepten in de "u"-vorm.</p>
    <AuButton
      @skin="link"
      {{on "click" this.openSelectUOrJeModal}}
      data-test-reminder-u-or-je-choice="make-choice-link"
    >
      Nu keuze maken
    </AuButton>
  </AuAlert>
{{/if}}
